<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--静态工厂-->
    <!--<bean id="orderDao" class="com.it.factory.OrderDaoFactory" factory-method="getOrderDao"></bean>-->

    <!--实例工厂-->
    <!--<bean id="userDaoFactory" class="com.it.factory.UserDaoFactory"></bean>
    <bean id="userDao" factory-method="getUserDao" factory-bean="userDaoFactory"></bean>-->

    <!--另一种实例工厂方式-->
    <bean id="userDao" class="com.it.factory.UserDaoFactoryBean"></bean>
</beans>